ZSMDP/src/main/webapp/WEB-INF/SOAPServis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.bane" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.bane" xmlns:intf="http://server.bane" xmlns:tns1="http://model.bane" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.bane" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.bane"/>
   <element name="login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="logout">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType>
     <sequence>
      <element name="logoutReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="listOnlineUsers">
    <complexType/>
   </element>
   <element name="listOnlineUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listOnlineUsersReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserStationID">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserStationIDResponse">
    <complexType>
     <sequence>
      <element name="getUserStationIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.bane" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="stationID" type="xsd:int"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserStationIDResponse">

      <wsdl:part element="impl:getUserStationIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listOnlineUsersRequest">

      <wsdl:part element="impl:listOnlineUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listOnlineUsersResponse">

      <wsdl:part element="impl:listOnlineUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserStationIDRequest">

      <wsdl:part element="impl:getUserStationID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SOAPServis">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listOnlineUsers">

         <wsdl:input message="impl:listOnlineUsersRequest" name="listOnlineUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:listOnlineUsersResponse" name="listOnlineUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserStationID">

         <wsdl:input message="impl:getUserStationIDRequest" name="getUserStationIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserStationIDResponse" name="getUserStationIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAPServisSoapBinding" type="impl:SOAPServis">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listOnlineUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listOnlineUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listOnlineUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserStationID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserStationIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserStationIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAPServisService">

      <wsdl:port binding="impl:SOAPServisSoapBinding" name="SOAPServis">

         <wsdlsoap:address location="http://localhost:8080/CZSMDP/services/SOAPServis"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
